In [ ]:
'''
Given a two numbers, check if they are equals
'''

In [1]:
number1 = 20
number2 = 30

number1 == number2

False

In [ ]:
'''
Given a two numbers return their product
'''

In [2]:
number1 = 20
number2 = 30

product = number1 * number2
product

600

In [ ]:
'''
And if the product is greater than 1000, then return their sum
'''

In [3]:
number1 = 200
number2 = 30

if number1 * number2 > 1000:
        print(number1 + number2)

230

In [ ]:
'''
Depending on whether the number is even or odd, print out an appropriate message: use "if"
'''

In [4]:
my_number = 11 # even or odd (pair et impair)

if (my_number % 2) == 0:
        print("even number")
else:
        print("odd number")

odd number

In [ ]:
'''
Print multiplication table of given number: use "for" loop
'''

In [5]:
x = 3

for i in range(11):
    print(i, 'x', x, '=', x * i)

0 x 3 = 0
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30

In [29]:
x = 3
i = -1

while i < 10:
    i = i + 1  #ou i += 1
    print(i, 'x', x, '=', x * i)

0 x 3 = 0
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30

In [ ]:
'''
Given a list of numbers, return True if first and last number of a list is same
'''

In [5]:
my_list = [1, 2, 4, 1]

if my_list[0] == my_list[3]:
    print("true")

true

In [ ]:
'''
Given a list turn every item of a list into its square
'''

In [65]:
for i in my_list:
    i = i**2
    print(i)

1
4
16
1

In [ ]:
'''
Given a list turn every item of a list into its square
'''

In [7]:
my_list = [1, 15, 4, 20, 22, 100, 10000, 5, 10]

for i in my_list:
    if i % 5 == 0:
        print(i)

15
20
100
10000
5
10

In [42]:
'''
change the loop so that if you find number greater than 150 stop the loop iteration
'''

In [11]:
my_list = [1, 15, 4, 20, 22, 100, 10000, 5, 10]

for i in my_list:
    if i > 150:
        print("I find one greater than 150")
        break
    print(i)

1
15
4
20
22
100
I find one greater than 150

In [ ]:
'''
Return the following pattern
1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5
'''

In [27]:
for i in range(6):# range 0 est son chiffre de base donc pas besoin
    for j in range(i):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [34]:
'''
Given a list, return its elements in reverse order
'''

In [12]:
my_list = [1, 2, 4, 1]

my_list.reverse()
print(my_list)

[1, 4, 2, 1]

In [ ]:
'''
Given 2 strings create a new string by appending s2 at the end of s1
'''

In [67]:
my_str1 = 'hello'
my_str2 = 'world'

new_str = my_str1 + " " + my_str2
print(new_str)

hello world

In [ ]:
'''
And add '.' between them
'''

In [68]:
print(my_str1 + '.' + my_str2)

hello.world

In [17]:
'''
Remove empty strings from the list of strings
'''

In [70]:
my_list = ['hello', '', 'world', 'hello', 'good', 'morning']

my_list.remove('')
my_list

['hello', 'world', 'hello', 'good', 'morning']

In [71]:
#proposition 2
for i in my_list:
    if i == '':
        i = my_list.remove('')
    break
print(my_list)

['hello', 'world', 'hello', 'good', 'morning']

In [ ]:
'''
Return the total count of the word 'hello' in the list
'''

In [91]:
my_list1 = ['hello', '', 'world', 'hello', 'good', '', 'morning']

for i in my_list1:
    if i == 'hello':
        i = my_list1.count(i)
    break
print(i)

2

In [96]:
#proposition 2
my_list2 = ['hello', '', 'world', 'hello', 'good', '', 'morning']

x = 0

for i in my_list2:
    if i == 'hello':
        x = x + 1
print(x)

2