In [1]:
'''
Given two numbers, check if they are equals (use try except)
'''

number1 = 20
number2 = 30

try:
    if (int(number1) != int(number2)):
        raise ValueError('is not equal')
    print('%d et %d is Equal' % (number1, number2))
except ValueError:
    print('number1 and number2 are not equal')

number1 and number2 are not equal

In [2]:
'''
find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)
'''

In [2]:
my_list=[]
for n in range(1500, 2700):
    if n%7==0 and n%5==0:my_list.append(n)

print(my_list)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

In [ ]:
'''
sum of three given integers. 
However, if two values are equal sum will be zero
'''

In [3]:
my_nb1 = 10
my_nb2 = 20
my_nb3 = 10

my_list = []

my_list.extend([my_nb1, my_nb2, my_nb3])

if len(set(my_list)) == len(my_list):
    my_sum = sum(my_list)
    print(f"The sum is {my_sum}")
else:
    print("The sum is zero")

The sum is zero

In [ ]:
'''
add two objects if both objects are an integer type
'''

In [7]:
my_obj1 = 13
my_obj2 = '12'
somme = None
try:
    somme = my_obj1 + my_obj2
    print(somme)
except:
    print("Impossible to make sum because one of two objects is not an integer")

Impossible to make sum because one of two objects is not an integer

In [ ]:
'''
convert seconds to day, hour, minutes and seconds
'''

In [6]:
import datetime

str(datetime.timedelta(seconds=my_secs))

'4:36:22'

In [ ]:
'''
construct the following pattern, using a nested for loop.
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*
'''

In [88]:
for i in range(0, 4, +1):#range(start, stop, step)
    for j in range(i + 1):
        print("* ",end="")
    print("\r")
    

for i in range(4, 0, -1):
    for j in range(0, i + 1):
        print("* ", end="")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *

In [ ]:
'''
return the largest of three numbers. 
Do this without using the Python max() function
'''

In [91]:
my_nb1 = 13
my_nb2 = 133
my_nb3 = 1
numbers = [my_nb1, my_nb2, my_nb3]
maxx = 0
for n in numbers:
    if n > maxx:
        maxx = n
print(maxx)

133

In [ ]:
'''
find how many 0s a number has
'''

In [98]:
my_nb = 13001200

print(str(my_nb).count('0'))

4

In [ ]:
'''
accept a word from the user and reverse it. 
use input
'''

In [ ]:
word = input("enter a word : ")

word.reverse()

In [ ]:
'''
check whether the key "nom" already exists in a dictionary.
'''

In [19]:
my_dict = {'age': 25, 'taille': 180, 'nom': 'alexi'}

if 'nom' in my_dict:
    print(True)
else:
    print(False)

True

In [16]:
#fonction pour dict
'''
.keys()
.values()
.items() renvoie les deux keys et values
.get( , ) par défaut renvoie none s'il ne trouve pas
.update() 
'''

"\n.keys()\n.values()\n.items() renvoie les deux keys et values\n.get( , ) par défaut renvoie none s'il ne trouve pas\n.update() \n"

In [ ]:
'''
return value of "nom" 
'''

In [23]:
my_dict = {'age': 25, 'taille': 180, 'nom': 'alexi'}

my_dict.get('nom')

'alexi'

In [ ]:
'''
make a statement that returns the value of the key "nom" if it exists,
otherwise None
'''

In [27]:
my_dict = {'age': 25, 'taille': 180}

print(my_dict.get('nom'))

None

In [ ]:
'''
change "nom" to your name in my_dict
'''

In [28]:
my_dict = {'age': 25, 'taille': 180, 'nom': 'alexi'}

my_dict['nom']='biben'
my_dict.get('nom')

'biben'

In [ ]:
'''
print a dictionary that contains a number (between 1 and n) in the form (x, x*x)
n = 5
output {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
'''

n = 9

In [4]:
#remplir le dictionnaire en une ligne
n = 9
my_dict = {i+1: (i+i)**2 for i in range(n)}
print(my_dict)

{1: 0, 2: 4, 3: 16, 4: 36, 5: 64, 6: 100, 7: 144, 8: 196, 9: 256}

In [ ]:
'''
merge two Python dictionaries
'''

In [32]:
my_dict1 = {'age': 24, 'taille': 180}
my_dict2 = {'nom': 'lahoe', 'prenom': 'alexi'}


merged_dict = my_dict1.copy()
merged_dict.update(my_dict2)
print(merged_dict)

{'age': 24, 'taille': 180, 'nom': 'lahoe', 'prenom': 'alexi'}

In [33]:
my_dict1 = {'age': 24, 'taille': 180}
my_dict2 = {'nom': 'lahoe', 'prenom': 'alexi'}

merging_dict = {**my_dict1, **my_dict2}
print(merging_dict)

{'age': 24, 'taille': 180, 'nom': 'lahoe', 'prenom': 'alexi'}

In [ ]:
'''
sum all the items in a dictionary
'''

In [35]:
my_dict = {'key1': 1, 'key2': 2, 'key3': 3}
print(sum(my_dict.values()))

6

In [ ]:
'''
remove a key "nom" a dictionary
'''

In [37]:
my_dict = {'age': 25, 'taille': 180, 'nom': 'alexi'}

del my_dict['nom']
my_dict

{'age': 25, 'taille': 180}

In [ ]:
'''
map two lists into a dictionary.
'''

In [38]:
from collections import ChainMap

list1 = ['nom', 'prenom', 'age']
list2 = ['alexi', 'lahoe', 24]


new_dict = ChainMap(list1, list2)
new_dict

ChainMap(['nom', 'prenom', 'age'], ['alexi', 'lahoe', 24])